@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

/* Fixes ScrollReveal flicker */
html.sr .load-hidden {
  visibility: hidden;
}

/* Typography */
h1, h2, h3 {font-family: 'DM Serif Display', serif;}
p, span {font-family: 'Montserrat', sans-serif; margin-bottom: 0rem;}

.text-hero {
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  line-height: 1;
  color: #FAF9F4;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  color: #3F5523;
}

.text-light-green {
  color: #FAF9F4;
}
a.text-light-green {
  color: #FAF9F4;
}

@media only screen and (max-width: 576px) {
  .text-hero {
    font-size: 3rem;
  }
}
body {background-color: #FAF9F4;}

/* Page Fade-In */
@keyframes fadeIn
    to {
       opacity: 1; }

       .fade-in {
       animation: fadeIn 3.0s ease forwards;
       -webkit-animation: fadeIn ease 3.0s;
       -moz-animation: fadeIn ease 3.0s;
       -o-animation: fadeIn ease 3.0s;
       -ms-animation: fadeIn ease 3.0s;
     }

     @keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.no-webp .masthead {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-lower.jpg");
}

.webp .masthead{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-lower.webp");
}

.masthead {
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-lower.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #FAF9F4;
  position: absolute;
  right: 7.2rem;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
.home-content__line {
  height: 3.8rem;
}
}

@media only screen and (max-width: 700px) {
.home-content__line {
  right: 2rem;
}
}

.home-content__scroll {
  position: absolute;
  right: 9.5rem;
  bottom: 8.4rem;
}

@media only screen and (max-width: 600px) {
.home-content__scroll {
  bottom: 2rem;
}
}

@media only screen and (max-width: 700px) {
.home-content__scroll {
  right: 3rem;
}
}

@media only screen and (max-width: 576px) {
  .home-content__scroll span {
    font-size: 0.75rem;
  }
}

.home-content__scroll a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-left: 2.5rem;
}

.about__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #3F5523;
  position: absolute;
  right: 7.2rem;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .about__line {
    height: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .about__line {
    right: 2rem;
  }
}

/* Fixing Mobile Vertical View */
.vertical {
  padding-bottom: 3rem;
}

/* Fixing Mobile Landscape View */
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .cta {
    margin-left: 0px;
}
  .text-hero {
    font-size: 3rem;
}
  .mobile-horizontal {
    padding-bottom: 2.5rem;
}
  .home-content__line {
    height: 3.5rem;
    right: 1.5rem;
}
  .home-content__scroll {
    bottom: 1.55rem;
    right: 2.25rem;
}
  .about__line {
    height: 4rem;
    right: 1.5rem;
}
}

/* Text Underline Hover Effect */
a.middle
{
  position: relative;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FAF9F4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
a.middle:hover:before, a.middle:focus:before, a.middle:active:before {
  visibility: visible;
  transform: scaleX(1);
}
a:hover {
  text-decoration: none !important;
  color: none !important;
}

.s-about {
  padding-top: 16.2rem;
  padding-bottom: 12rem;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .s-about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.nav-text {
  font-size: 1rem;
  font-weight:300;
  color: #FAF9F4;
}

.portfolio__line {
  display: block;
  width: 2px;
  height: 7rem;
  background-color: #3F5523;
  position: absolute;
  left: 50%;
  top: -7rem;
  margin-left: -1px;
}

.contact__line {
  display: block;
  width: 2px;
  height: 7rem;
  background-color: #F7F4DB;
  position: absolute;
  left: 50%;
  top: 0rem;
  margin-left: -1px;
}
.s-contact {
  background-color: #151515;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://kylewagner.me/eightatwork/assets/img/thong-vo-ZLmSzOPoUno-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center,center;
  padding-top: 15rem;
  padding-bottom: 12rem;
  color: rgba(255,255,255,.5);
  position: relative;
}

.s-services {
  padding-bottom: 15rem;
}

html {
  overflow-x: hidden !important;
  overflow-x: -moz-hidden-unscrollable !important;
}

/* Mobile Overflow Issue */
.wrapper {
  overflow: hidden !important;
  overflow: -moz-hidden-unscrollable !important;
}

/* Rellax JS Shapes */
.circleright {
  height: 30rem;
  width: 30rem;
  right: -10rem;
  position:absolute;
  background-color:#F7F4DB;
  border-radius: 50%;
}
.circleleft {
  height: 17rem;
  width: 17rem;
  left: -2rem;
  bottom: 5rem;
  position:absolute;
  background-color:#F7F4DB;
  border-radius: 50%;
}
.circleoutlineleft {
  height: 10rem;
  width: 10rem;
  left: 10rem;
  bottom: 1rem;
  position:absolute;
  box-shadow: inset 0 0 0 0.1em #3F5523;
  border-radius: 50%;
}
.circleoutlineright {
  height: 12rem;
  width: 12rem;
  right: 15rem;
  bottom: -2rem;
  position:absolute;
  box-shadow: inset 0 0 0 0.1em #3F5523;
  border-radius: 50%;
}
@media only screen and (max-width: 576px) {
  .circleoutlineright {
    display: none;
  }
  .circleoutlineleft {
    display: none;
  }
  .circleleft {
    bottom: 10rem;
  }
  .circleright {
    top: 15rem;
  }
}

.top {
  z-index: 100 !important;
  position: relative;
}

/* CTA Button */
.nav-link {
  background-color: #FAF9F4;
  border-radius: 1.5em;
  border: 2px solid #FAF9F4;
  display: inline-block;
  font-weight: 400;
  line-height: 1.15;
  padding: .7em 1.5em .65em;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}
.nav-link:hover {
  cursor: pointer;
  transition: .3s;
}
.nav-link--style-1 {
  background-color: transparent;
  border-color: #FAF9F4;
  color: #FAF9F4;
}
.nav-link--style-1:focus, .nav-link--style-1:hover {
  background-color: #FAF9F4;
  border: 2px solid #FAF9F4;
  color: #3F5523;
}