@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

/* Fixes ScrollReveal flicker */
html.sr .load-hidden {
  visibility: hidden;
}

/* Typography */
h1, h2, h3 {font-family: 'DM Serif Display', serif;}
p, span {font-family: 'Montserrat', sans-serif; margin-bottom: 0rem;}

.text-hero {
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  line-height: 1;
  color: #FAF9F4;
}

h2 {
  font-size: 3rem;
  color: #3F5523;
}

.text-light-green {
  color: #FAF9F4;
}
a.text-light-green {
  color: #FAF9F4;
}

@media only screen and (max-width: 576px) {
  .text-hero {
    font-size: 3rem;
  }
}
body {background-color: #FAF9F4;}

/* Page Fade-In */
@keyframes fadeIn
    to {
       opacity: 1; }

       .fade-in {
       animation: fadeIn 3.0s ease forwards;
       -webkit-animation: fadeIn ease 3.0s;
       -moz-animation: fadeIn ease 3.0s;
       -o-animation: fadeIn ease 3.0s;
       -ms-animation: fadeIn ease 3.0s;
     }

     @keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.masthead {
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-low.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #FAF9F4;
  position: absolute;
  right: 7.2rem;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
.home-content__line {
  height: 3.8rem;
}
}

@media only screen and (max-width: 700px) {
.home-content__line {
  right: 2rem;
}
}

.home-content__scroll {
  position: absolute;
  right: 9.5rem;
  bottom: 8.4rem;
}

@media only screen and (max-width: 600px) {
.home-content__scroll {
  bottom: 2rem;
}
}

@media only screen and (max-width: 700px) {
.home-content__scroll {
  right: 3rem;
}
}

@media only screen and (max-width: 576px) {
  .home-content__scroll span {
    font-size: 0.75rem;
  }
}

.home-content__scroll a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-left: 2.5rem;
}

.about__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #3F5523;
  position: absolute;
  right: 7.2rem;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .about__line {
    height: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .about__line {
    right: 2rem;
  }
}

/* Fixing Mobile Landscape View */
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .container {
    margin-left: 0px;
}
  .text-hero {
    font-size: 3rem;
}
  .mobile-horizontal {
    padding-bottom: 2.5rem;
}
  .home-content__line {
    height: 3.5rem;
    right: 1.5rem;
}
  .home-content__scroll {
    bottom: 1.55rem;
    right: 2.25rem;
}
  .about__line {
    height: 4rem;
    right: 1.5rem;
}
}

/* Text Underline Hover Effect */
a.middle
{
  position: relative;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FAF9F4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
a.middle:hover:before, a.middle:focus:before, a.middle:active:before {
  visibility: visible;
  transform: scaleX(1);
}
a:hover {
  text-decoration: none !important;
  color: none !important;
}

.s-about {
  padding-top: 16.2rem;
  padding-bottom: 5rem;
  position: relative;
}

.nav-text {
  font-size: 1rem;
  font-weight:300;
  color: #FAF9F4;
}

.contact__line {
  display: block;
  width: 2px;
  height: 20.4rem;
  background-color: #3F5523;
  position: absolute;
  left: 50%;
  top: -10.2rem;
  margin-left: -1px;
}
.s-contact {
  background-color: #151515;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-low.jpg');
  background-repeat: no-repeat;
  background-position: center,center;
  padding-top: 15rem;
  padding-bottom: 12rem;
  color: rgba(255,255,255,.5);
  position: relative;
}

.s-services {
  padding-bottom: 15rem;
}

/* Rellax JS Shapes */
.circlesmall {
  height: 10rem;
  width: 10rem;
  background-color:#F7F4DB;
  border-radius: 50%;
}