@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

/* Fixes ScrollReveal flicker */
html.sr .load-hidden {
  visibility: hidden;
}

/* Typography */
h1, h2, h3 {font-family: 'DM Serif Display', serif;}
p, span {font-family: 'Montserrat', sans-serif; margin-bottom: 0rem;}

.text-hero {
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  line-height: 1;
  color: #FAF9F4;
}

h2 {
  font-size: 3rem;
  color: #3F5523;
}

.text-light-green {
  color: #FAF9F4;
}

@media only screen and (max-width: 576px) {
  .text-hero {
    font-size: 3rem;
  }
}
body {background-color: #FAF9F4;}

/* Page Fade-In */
@keyframes fadeIn
    to {
       opacity: 1; }

       .fade-in {
       animation: fadeIn 3.0s ease forwards;
       -webkit-animation: fadeIn ease 3.0s;
       -moz-animation: fadeIn ease 3.0s;
       -o-animation: fadeIn ease 3.0s;
       -ms-animation: fadeIn ease 3.0s;
     }

     @keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://kylewagner.me/eightatwork/assets/img/peter-fogden-toB7tKXne7U-unsplash-low.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #FAF9F4;
  position: absolute;
  right: 7.2rem;
  bottom: 0;
}

.home-content__scroll {
  position: absolute;
  right: 9.5rem;
  bottom: 8.4rem;
}

.home-content__scroll a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-left: 2.5rem;
}

.about__line {
  display: block;
  width: 2px;
  height: 10.2rem;
  background-color: #3F5523;
  position: absolute;
  right: 7.2rem;
  top: 0;
}

.s-about {
  padding-top: 16.2rem;
  padding-bottom: 9rem;
  position: relative;
}

.nav-text {
  font-size: 1rem;
  font-weight:300;
  color: #fff;
}

.nav-text:hover {
  text-decoration: none;
}